/* Soluzione qui */
/*Large modile*/
@media screen and (min-width: 568px) {
  .clearfix img {
    float: left;
    margin: 0 10px 0 0;
  }

  .social-networks .btn {
    width: 20%;
  }
}
/*Tablet*/
@media screen and (min-width: 768px) {
  #topbar {
    justify-content: flex-start;
  }
  main {
    padding: 2.5em 5%;
  }
  .recipe-title .recipe-origin {
    display: inline-block;
  }
  .recipe-title .recipe-name {
    font-size: 2rem;
  }

  .ads {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
  }
  .quick-notes ul li {
    width: calc(100% / 3);
  }
}
/*Desktop*/
@media screen and (min-width: 992px) {
  .recipe-title .recipe-name {
    font-size: 2.5rem;
  }
  .recipe-card {
    display: flex;
  }
  .recipe-card .recipe-video {
    width: 70%;
  }
  .recipe-card .recipe-info {
    width: 30%;
  }
  .social-networks .label {
    display: inline-block;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }
}
